# 分组与聚合

* GroupBy对象

In [3]:
import pandas as pd
import numpy as np

In [4]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randn(8),
            'data2': np.random.randn(8)}
df_obj = pd.DataFrame(dict_obj)
print df_obj

      data1     data2 key1   key2
0 -0.079203 -0.844599    a    one
1  0.379854  0.849821    b    one
2 -0.961888 -1.502866    a    two
3 -0.063710 -1.136585    b  three
4  0.537074  0.326732    a    two
5  0.854460 -0.474144    b    two
6  1.098841 -0.521574    a    one
7  0.364664  0.014630    a  three

In [5]:
# dataframe根据key1进行分组
print type(df_obj.groupby('key1'))

<class 'pandas.core.groupby.DataFrameGroupBy'>

In [7]:
# data1列根据key1进行分组
print type(df_obj['data1'].groupby(df_obj['key1']))

<class 'pandas.core.groupby.SeriesGroupBy'>

In [9]:
# 分组运算
grouped1 = df_obj.groupby('key1')
print grouped1.mean()

grouped2 = df_obj['data1'].groupby(df_obj['key1'])
print grouped2.mean()

         data1     data2
key1
a     0.191898 -0.505536
b     0.390201 -0.253636
key1
a    0.191898
b    0.390201
Name: data1, dtype: float64

In [10]:
# size
print grouped1.size()
print grouped2.size()

key1
a    5
b    3
dtype: int64
key1
a    5
b    3
dtype: int64

In [14]:
# 按列名分组
#df_obj.groupby('key1')

1    5
2    3
dtype: int64

In [15]:
# 按自定义key分组，列表
self_def_key = [1, 1, 2, 2, 2, 1, 1, 1]
df_obj.groupby(self_def_key).size()

1    5
2    3
dtype: int64

In [16]:
# 按自定义key分组，多层列表
df_obj.groupby([df_obj['key1'], df_obj['key2']]).size()

key1  key2
a     one      2
      three    1
      two      2
b     one      1
      three    1
      two      1
dtype: int64

In [17]:
# 按多个列多层分组
grouped2 = df_obj.groupby(['key1', 'key2'])
print grouped2.size()

key1  key2
a     one      2
      three    1
      two      2
b     one      1
      three    1
      two      1
dtype: int64

In [23]:
# 多层分组按key的顺序进行
grouped3 = df_obj.groupby(['key2', 'key1'])
print grouped3.mean()
print
print grouped3.mean().unstack()

               data1     data2
key2  key1
one   a     0.509819 -0.683087
      b     0.379854  0.849821
three a     0.364664  0.014630
      b    -0.063710 -1.136585
two   a    -0.212407 -0.588067
      b     0.854460 -0.474144

          data1               data2
key1          a         b         a         b
key2
one    0.509819  0.379854 -0.683087  0.849821
three  0.364664 -0.063710  0.014630 -1.136585
two   -0.212407  0.854460 -0.588067 -0.474144

* GroupBy对象分组迭代

In [26]:
# 单层分组
for group_name, group_data in grouped1:
    print group_name
    print group_data

a
      data1     data2 key1   key2
0 -0.079203 -0.844599    a    one
2 -0.961888 -1.502866    a    two
4  0.537074  0.326732    a    two
6  1.098841 -0.521574    a    one
7  0.364664  0.014630    a  three
b
      data1     data2 key1   key2
1  0.379854  0.849821    b    one
3 -0.063710 -1.136585    b  three
5  0.854460 -0.474144    b    two

In [27]:
# 多层分组
for group_name, group_data in grouped2:
    print group_name
    print group_data

('a', 'one')
      data1     data2 key1 key2
0 -0.079203 -0.844599    a  one
6  1.098841 -0.521574    a  one
('a', 'three')
      data1    data2 key1   key2
7  0.364664  0.01463    a  three
('a', 'two')
      data1     data2 key1 key2
2 -0.961888 -1.502866    a  two
4  0.537074  0.326732    a  two
('b', 'one')
      data1     data2 key1 key2
1  0.379854  0.849821    b  one
('b', 'three')
     data1     data2 key1   key2
3 -0.06371 -1.136585    b  three
('b', 'two')
     data1     data2 key1 key2
5  0.85446 -0.474144    b  two

In [30]:
# GroupBy对象转换list
list(grouped1)

[('a',       data1     data2 key1   key2
  0 -0.079203 -0.844599    a    one
  2 -0.961888 -1.502866    a    two
  4  0.537074  0.326732    a    two
  6  1.098841 -0.521574    a    one
  7  0.364664  0.014630    a  three), ('b',       data1     data2 key1   key2
  1  0.379854  0.849821    b    one
  3 -0.063710 -1.136585    b  three
  5  0.854460 -0.474144    b    two)]

In [31]:
# GroupBy对象转换dict
dict(list(grouped1))

{'a':       data1     data2 key1   key2
 0 -0.079203 -0.844599    a    one
 2 -0.961888 -1.502866    a    two
 4  0.537074  0.326732    a    two
 6  1.098841 -0.521574    a    one
 7  0.364664  0.014630    a  three, 'b':       data1     data2 key1   key2
 1  0.379854  0.849821    b    one
 3 -0.063710 -1.136585    b  three
 5  0.854460 -0.474144    b    two}

In [36]:
# 按列分组
print df_obj.dtypes

# 按数据类型分组
df_obj.groupby(df_obj.dtypes, axis=1).size()
df_obj.groupby(df_obj.dtypes, axis=1).sum()

data1    float64
data2    float64
key1      object
key2      object
dtype: object

    float64  object
0 -0.923802    aone
1  1.229674    bone
2 -2.464754    atwo
3 -1.200295  bthree
4  0.863806    atwo
5  0.380316    btwo
6  0.577267    aone
7  0.379294  athree

* 其他分组方法

In [64]:
df_obj2 = pd.DataFrame(np.random.randint(1, 10, (5,5)),
                       columns=['a', 'b', 'c', 'd', 'e'],
                       index=['A', 'B', 'C', 'D', 'E'])
df_obj2.ix[1, 1:4] = np.NaN
df_obj2

   a    b    c    d  e
A  1  1.0  3.0  9.0  9
B  2  NaN  NaN  NaN  8
C  6  8.0  8.0  8.0  9
D  6  9.0  4.0  4.0  4
E  2  2.0  3.0  8.0  6

In [43]:
# 通过字典分组
mapping_dict = {'a':'python', 'b':'python', 'c':'java', 'd':'C', 'e':'java'}
df_obj2.groupby(mapping_dict, axis=1).size()
#df_obj2.groupby(mapping_dict, axis=1).count() # 非NaN的个数
#df_obj2.groupby(mapping_dict, axis=1).sum()

   C  java  python
A  1     2       2
B  0     1       1
C  1     2       2
D  1     2       2
E  1     2       2

In [52]:
# 通过函数分组
df_obj3 = pd.DataFrame(np.random.randint(1, 10, (5,5)),
                       columns=['a', 'b', 'c', 'd', 'e'],
                       index=['AA', 'BBB', 'CC', 'D', 'EE'])
#df_obj3

def group_key(idx):
    """
        idx 为列索引或行索引
    """
    #return idx
    return len(idx)

df_obj3.groupby(group_key).size()

# 以上自定义函数等价于
#df_obj3.groupby(len).size()

1    1
2    3
3    1
dtype: int64

In [60]:
# 通过索引级别分组
columns = pd.MultiIndex.from_arrays([['Python', 'Java', 'Python', 'Java', 'Python'],
                                     ['A', 'A', 'B', 'C', 'B']], names=['language', 'index'])
df_obj4 = pd.DataFrame(np.random.randint(1, 10, (5, 5)), columns=columns)
df_obj4

language Python Java Python Java Python
index         A    A      B    C      B
0             6    2      6    5      3
1             8    9      9    8      1
2             6    5      2    6      1
3             9    4      9    3      5
4             9    2      4    4      8

In [63]:
# 根据language进行分组
df_obj4.groupby(level='language', axis=1).sum()
df_obj4.groupby(level='index', axis=1).sum()

index   A   B  C
0       8   9  5
1      17  10  8
2      11   3  6
3      13  14  3
4      11  12  4

* 聚合

In [82]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1,10, 8),
            'data2': np.random.randint(1,10, 8)}
df_obj5 = pd.DataFrame(dict_obj)
print df_obj5

   data1  data2 key1   key2
0      8      8    a    one
1      5      3    b    one
2      8      6    a    two
3      2      8    b  three
4      2      3    a    two
5      3      8    b    two
6      9      6    a    one
7      9      2    a  three

In [78]:
# 内置的聚合函数
print df_obj5.groupby('key1').sum()
print df_obj5.groupby('key1').max()
print df_obj5.groupby('key1').min()
print df_obj5.groupby('key1').mean()
print df_obj5.groupby('key1').size()
print df_obj5.groupby('key1').count()
print df_obj5.groupby('key1').describe()

      data1  data2
key1
a        28     29
b        17     20
      data1  data2 key2
key1
a         7      8  two
b         8      9  two
      data1  data2 key2
key1
a         3      3  one
b         2      5  one
         data1     data2
key1
a     5.600000  5.800000
b     5.666667  6.666667
key1
a    5
b    3
dtype: int64
      data1  data2  key2
key1
a         5      5     5
b         3      3     3
               data1     data2
key1
a    count  5.000000  5.000000
     mean   5.600000  5.800000
     std    1.949359  2.167948
     min    3.000000  3.000000
     25%    4.000000  5.000000
     50%    7.000000  5.000000
     75%    7.000000  8.000000
     max    7.000000  8.000000
b    count  3.000000  3.000000
     mean   5.666667  6.666667
     std    3.214550  2.081666
     min    2.000000  5.000000
     25%    4.500000  5.500000
     50%    7.000000  6.000000
     75%    7.500000  7.500000
     max    8.000000  9.000000

In [81]:
# 自定义聚合函数
def peak_range(df):
    """
        返回数值范围
    """
    #print type(df) #参数为索引所对应的记录
    return df.max() - df.min()

print df_obj5.groupby('key1').agg(peak_range)
#print df_obj.groupby('key1').agg(lambda df : df.max() - df.min())

      data1  data2
key1
a         4      5
b         6      4

In [83]:
# 应用多个聚合函数

# 同时应用多个聚合函数
print df_obj.groupby('key1').agg(['mean', 'std', 'count', peak_range]) # 默认列名为函数名

         data1                                data2
          mean       std count peak_range      mean       std count peak_range
key1
a     0.191898  0.770756     5   2.060729 -0.505536  0.719919     5   1.829598
b     0.390201  0.459173     3   0.918170 -0.253636  1.011395     3   1.986406

In [84]:
print df_obj.groupby('key1').agg(['mean', 'std', 'count', ('range', peak_range)]) # 通过元组提供新的列名

         data1                               data2
          mean       std count     range      mean       std count     range
key1
a     0.191898  0.770756     5  2.060729 -0.505536  0.719919     5  1.829598
b     0.390201  0.459173     3  0.918170 -0.253636  1.011395     3  1.986406

In [ ]:
# 每列作用不同的聚合函数